<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOS_Challenge_AvenueCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1000433A20D1BFC000359546</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1000435120D1BFC100359546</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1000435C20D1BFC100359546</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
